# Index types

## CategoricalIndex

In [3]:
import pandas as pd
import numpy as np

In [4]:
from pandas.api.types import CategoricalDtype

In [5]:
df = pd.DataFrame({'A': np.arange(6), 'B': list('aabbca')})

In [6]:
df['B'] = df['B'].astype(CategoricalDtype(list('cab')))

In [7]:
df

   A  B
0  0  a
1  1  a
2  2  b
3  3  b
4  4  c
5  5  a

In [10]:
df.dtypes

A       int64
B    category
dtype: object

In [11]:
df['B'].cat.categories

Index(['c', 'a', 'b'], dtype='object')

In [17]:
df2 = df.set_index('B')
df2

   A
B
a  0
a  1
b  2
b  3
c  4
a  5

In [14]:
df2.index

CategoricalIndex(['a', 'a', 'b', 'b', 'c', 'a'], categories=['c', 'a', 'b'], ordered=False, name='B', dtype='category')

In [18]:
df2.groupby(level=0).count()

   A
B
c  1
a  3
b  2

## Binning data with cut and qcut

In [19]:
c = pd.cut(range(4), bins=2)
c

[(-0.003, 1.5], (-0.003, 1.5], (1.5, 3.0], (1.5, 3.0]]
Categories (2, interval[float64]): [(-0.003, 1.5] < (1.5, 3.0]]

In [20]:
c.categories

IntervalIndex([(-0.003, 1.5], (1.5, 3.0]],
              closed='right',
              dtype='interval[float64]')